<div class="grid place-content-center h-screen">
  <form
    action=""
    class="w-full mx-auto box p-10 grid grid-cols-1 gap-2"
    [formGroup]="registerForm"
  >
    <h2 class="text-center text-3xl font-medium text-white mb-4">Register</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-4">
      <div class="mb-4">
        <p-floatlabel variant="on" class="block">
          <input
            pInputText
            id="name"
            formControlName="name"
            autocomplete="off"
            styleClass="w-full px-3 py-2 !text-sm !leading-tight !text-gray-700 border rounded-md shadow-sm focus:outline-none focus:shadow-outline"
          />
          <label for="name" class="!text-sm !font-medium !text-gray-500"
            >Name</label
          >
        </p-floatlabel>
        <div
          *ngIf="
            registerForm.controls.name.errors &&
            registerForm.controls.name.touched
          "
          class="text-red-500"
        >
          Name is required.
        </div>
      </div>
      <div class="mb-4">
        <p-floatlabel variant="on" class="block">
          <input
            pInputText
            id="email"
            formControlName="email"
            autocomplete="off"
            styleClass="w-full px-3 py-2 !text-sm !leading-tight !text-gray-700 border rounded-md shadow-sm focus:outline-none focus:shadow-outline"
          />
          <label for="email" class="!text-sm !font-medium !text-gray-500"
            >Email</label
          >
        </p-floatlabel>
        <div
          *ngIf="
            registerForm.controls.email.errors &&
            registerForm.controls.email.touched
          "
          class="text-red-500"
        >
          Email is required.
        </div>
      </div>
    </div>
    <div class="mb-4">
      <!-- <p-select
        [options]="genders"
        formControlName="gender"
        optionLabel="name"
        placeholder="Select a Gender"
        styleClass="!w-full "
      /> -->
      <label for="gender" class="!font-medium">Gender</label>
      <div class="card flex justify-start mt-2">
        <div class="flex flex-wrap gap-4">
          <div class="flex items-center">
            <p-radiobutton
              value="male"
              formControlName="gender"
              inputId="gender1"
            />
            <label for="gender1" class="ml-2">male</label>
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="female"
              formControlName="gender"
              inputId="gender2"
            />
            <label for="gender2" class="ml-2">Female</label>
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="other"
              formControlName="gender"
              inputId="gender3"
            />
            <label for="gender3" class="ml-2">Other</label>
          </div>
        </div>
      </div>

      <div
        *ngIf="
          registerForm.controls.gender.errors &&
          registerForm.controls.gender.touched
        "
        class="text-red-500"
      >
        Gender is required.
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-4">
      <div class="mb-4">
        <p-floatlabel variant="on" class="block">
          <input
            pInputText
            id="password"
            formControlName="password"
            autocomplete="off"
            styleClass="w-full px-3 py-2 !text-sm !leading-tight !text-gray-700 !border rounded-md !shadow-sm !focus:outline-none focus:shadow-outline"
          />
          <label for="password" class="!text-sm !font-medium !text-gray-500"
            >Password</label
          >
        </p-floatlabel>
        <div
          *ngIf="
            registerForm.controls.password.errors &&
            registerForm.controls.password.touched
          "
          class="text-red-500"
        >
          Password is required.
        </div>
      </div>

      <div class="mb-4">
        <p-floatlabel variant="on" class="block">
          <input
            pInputText
            id="confirmPassword"
            formControlName="confirmPassword"
            autocomplete="off"
            styleClass="w-full px-3 py-2 !text-sm !leading-tight !text-gray-700 !border rounded-md !shadow-sm !focus:outline-none focus:shadow-outline"
          />
          <label
            for="confirmPassword"
            class="!text-sm !font-medium !text-gray-500"
            >Confirm Password</label
          >
        </p-floatlabel>
        <div
          *ngIf="
            registerForm.controls.password.value !==
              registerForm.controls.confirmPassword.value &&
            registerForm.controls.password.touched
          "
          class="text-red-500"
        >
          Passwords do not match.
        </div>
      </div>
    </div>
    <div class="mt-4">
      <p-button
        label="Submit"
        styleClass="w-full px-4 py-2 !text-white   rounded-md hover:bg-blue-600"
        (click)="onRegister()"
      />
    </div>
    <p-divider></p-divider>
    <div class="flex items-center text-sm text-gray-500">
      Already have an account?
      <p-button
        label="Sign In"
        styleClass=" ml-2 !text-sm !py-1"
        routerLink="/"
        [link]="true"
      />
    </div>
  </form>
</div>
